*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
}

.planta--main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .planta{
        img{
            width: 100%;
        }
    }
}