<div class="planta--main">
    <div class="info--planta">
        <div class="main--info">
            <div class="info">
                <H2>Sala 1</H2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque officia fuga voluptatibus exercitationem quas ut, beatae assumenda eaque error ipsa accusamus id? Ut eveniet quos optio laboriosam nobis, incidunt natus!</p>
                <span>Assim que sair da sala desligue o Ar-condicionado </span>     
            </div>
            <div class="info">
                <H2>Sala 2</H2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque officia fuga voluptatibus exercitationem quas ut, beatae assumenda eaque error ipsa accusamus id? Ut eveniet quos optio laboriosam nobis, incidunt natus!</p>
                <span>Assim que sair da sala desligue o Ar-condicionado </span>     
            </div>
            <div class="info">
                <H2>Sala 3</H2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque officia fuga voluptatibus exercitationem quas ut, beatae assumenda eaque error ipsa accusamus id? Ut eveniet quos optio laboriosam nobis, incidunt natus!</p>
                <span>Assim que sair da sala desligue o Ar-condicionado </span>     
            </div>
            <div class="info">
                <H2>Sala 4</H2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque officia fuga voluptatibus exercitationem quas ut, beatae assumenda eaque error ipsa accusamus id? Ut eveniet quos optio laboriosam nobis, incidunt natus!</p>
                <span>Assim que sair da sala desligue o Ar-condicionado </span>
            </div>
        </div>
    </div>
    <div class="planta">
        <img src="../../../assets/img/PLANTA1.png" alt="">
    </div>
</div>