*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding:0;
}

#container{
    width: 100%;
    padding: 0 5rem;
}
.diasDaSemana{
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 colunas, cada uma com largura igual */
    gap: 10px;
    text-transform: uppercase;
    padding: 2rem 0;
    .semana{
        text-align: left;
    }
}
.calendario--main{
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 colunas, cada uma com largura igual */
    gap: 10px;
    .passou{
        background: #000;
        .agendado{
            display: none;
        }
    }
}
.start-from-column-1 {
    grid-column-start: 1; /* Inicia na segunda coluna */
}
.start-from-column-2 {
    grid-column-start: 2; /* Inicia na segunda coluna */
}
.start-from-column-3 {
    grid-column-start: 3; /* Inicia na segunda coluna */
}
.start-from-column-4 {
    grid-column-start: 4; /* Inicia na segunda coluna */
}
.start-from-column-5 {
    grid-column-start: 5; /* Inicia na segunda coluna */
}
.start-from-column-6 {
    grid-column-start: 6; /* Inicia na segunda coluna */
}
.start-from-column-7 {
    grid-column-start: 7; /* Inicia na segunda coluna */
}
.dia{
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    border-top: 2px solid #000;
    overflow: hidden;
    padding: 0.5rem 0;
    background: #fff;
    box-shadow: 0px 0px 1px #2e2e2e;
    &:hover{
        z-index: 1000;
        height: auto;
    }
    #dia{
        width: 100%;
        height: 20%;
        font-size: 25px;
        font-weight:600;
        padding-bottom: 2rem;
        
    }
    .agendado{
        bottom: 0;
        width: 100%;
        height: 80%;

        // overflow-y:auto;
        .agendado--mainSala-1{
            background: #D4E4F2;
        }
        .agendado--mainSala-2{
            background: #92A48B;
        }
        .agendado--mainSala-3{
            background: #DBB7AB;
        }
        .agendado--mainSala-4{
            background: #D7897E;
        }
        .agendado--main{
            padding: 0 0.5rem;
            &:hover{
                border-left: #000000 2px solid;
                cursor: pointer;
            }
            .agendado--info{
                display: flex;
                font-size: 13px;
                .agendado--info--sala{
                    display: flex;
                    padding-right: 10px;
                    span{
                        padding-right: 3px;
                    }
                }
                .agendado--info--nome{
                    font-size: 12px;
                }
            }
        }
        .agendado--horario{
            font-size: 14px;
            color: #686868;
        }
    }
}
.dia--atual{
    background: #f1f1f1;
    border-top: 2px solid #129e12;
    #dia{
        color: #129e12;
    }
}
.semana--atual{
    color: #129e12;
    font-weight: 600;
}

// insert 
.section__insert{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .insert__container{
        max-width: 800px;
        padding: 1rem;
        overflow-y: hidden;
        .insert__button{
            z-index: 10;
            padding: 1rem;
            display: flex;
            justify-content: center;
            z-index: 1000;
            button{
                padding: 1rem 2rem;
                border-radius: 7px;
                cursor: pointer;
                z-index: 100;
                &:hover{
                    box-shadow: 0px 1px 1px #0000007a;
                    transform: scale(1.1);
                }
            }
            .insert__buttonIcon{
                padding-left: 0.5rem;
                font-size: 19px;;
            }
        }
        
        
        .insert__body{
            border-top: solid 1px rgba(0, 0, 0, 0.322);
            padding: 1rem 1rem 9rem 1rem;
            margin-top: -20rem;
            transition: all 0.5s;
            .body__data{
                input{
                    line-height: 25px;
                    border-radius: 3px;
                    padding-left: 8px;
                    background: rgba(0, 0, 0, 0.123);
                }
                label{
                    margin-left: 5rem;
                    &:nth-child(1){
                        margin: 0;
                    }
                }
            
                & > div{
                    padding: 1rem;
                }
            }
        
            
            .data__insert{
                padding: 1rem;
                margin-top: 1rem;
                display: flex;
                justify-content: end;
                .button{
                    padding: 0.7rem 2rem;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }
        .show-insert{
            transition: all 0.5s;
            margin-top: 2rem;
        }
    }
}








